$shadow: 0px 0px 12px rgba(0, 0, 0, 0.3)
  
.card-reveal
  box-shadow: $shadow
  overflow: hidden
  position: relative

.card-cover,
.card-to-reveal
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

.card-to-reveal
  background-color: #002856
  display: flex
  justify-content: center
  align-items: center

.content .card-to-reveal
  h3,
  p
    color: white