$primary: #002856
$secondary: #628d3c

.navbar 
  background-color: rgba(133, 172, 174, .4)
  border-bottom: none
  transition: background-color .3s ease-in-out
  backdrop-filter: blur(10px) saturate(10%)
  
  &::before
    content: ""
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    filter: blur(20px)
    z-index: -1

  &.navbar-at-top
    background-color: transparent
    
    .navbar-end
      margin-right: 2rem

.navbar-end
  margin-right: 0
  transition: margin .33s ease-in-out

a.navbar-item,
a.navbar-link
  color: $primary
  font-weight: 700

a.navbar-item:hover,
.navbar.is-transparent .navbar-dropdown a.navbar-item:focus,
a.navbar-item:focus,
a.navbar-item:visited,
.navbar-item.has-dropdown:hover .navbar-link
  color: $secondary

.navbar-item.has-dropdown:hover .navbar-link::after
  border-color: $secondary

a.navbar-item img
  margin-bottom: 0
  max-height: 5rem

.navbar-link:not(.is-arrowless)::after
  border-color: $primary

.navbar-dropdown
  background-color: $primary
  
  a
    color: white

.navbar.is-transparent .navbar-dropdown a.navbar-item:hover
  color: $secondary